html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
p {
    color: green;
    background-color: chocolate; 
    padding: 1cm; border: cornflowerblue; margin: 1cm }
h1 {
    color: darkorange
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 26px;    
    line-height: 2;
    letter-spacing: 2px;
  }
  html {
    background-color: #00539F;
  }
  image {opacity: unset; opacity: 3; stop-opacity: initial; align-self: center; display: block;margin: 0 auto;}